doctype html
html
  head
    title JobsForAll
    style
      include ../static/style.css
    script
      include ../static/index.js
  body
    nav.navbar
        ul
            li #[a(href="/") About Us]
            li #[a(href="/") Policies]
            li #[a(href="/") Documents]
            li #[a(href="/") Schemes]
            li #[a(href="/") Feedback]
        
    section#int
        h1 Welcome to jobs for all portal
        p The Covid-19 pandemic forced India into a lockdown in March. It caused sudden loss of employment daily-wagers, labourers and low-paid job holders or simply, the poor of India, so feel free to seek the oppurtunity and try finding a new job via this portal.
        button(class='btn')
            | Make an enquiry

    section.extra 
        div.xyz 
            div.ashu 
                p#y Employer
                p#z Login to your employer account, search jobseekers against any posted jobs, click on their name to view their profile, select and provide jobs.
                button(class='but')
                    |Login 
            div.ashu1 
                p#y Government services
                p#z Benefit Management through Aadhaar based authentication that enables Direct Benefit Transfer for various schemes including Jan Dhan, Ayushman Bharat and many others.
                button(class='but')
                    |Apply
            div.ashu2 
                p#y Skill Enhancement
                p#z Skilling and Livelihood Enhancement by enabling skill assessments and training facilitation for jobs with Indian as well as international employers.
                button(class='but')
                    |Skill Test
    
    section#services 
        div.container 
            div.box 
                img(src="/static/p2.jpg")
                h3 Find a job 
            div.box 
                img(src="/static/p3.png")
                h3 Jobs for differently abled
            div.box 
                img(src="/static/p4.jpg")
                h3 Government jobs and employment portals
    
    section#fair 
        div.jfair 
            h4 What's New
            p#anj Career Skills Training by TCS iON
            p#anj Advertisement for inviting applications for Special coaching
            p#anj Latest jobs
            p#anj Success stories
            p#anj Upcomig training/events
            marquee#ui Notice against frauds in the name of Job for everyone | Please be advised that the website is not affiliated in any way to Ministry of Labour and Employment. Please note that wesite does not charge any fees for registration on the portal 

    div#nice 
        a(href="/") Register
    
    footer
        div.f 
            | Copyright &copy; www.Jobs_post_COVID. All rights reserved!
